LanguageSoftware/.idea
LanguageSoftware/Editor/obj
LanguageSoftware/Editor/bin
LanguageSoftware/LearnersLanguage/obj
LanguageSoftware/LearnersLanguage/bin
LanguageSoftware/LearnersLanguageTest/obj
LanguageSoftware/LearnersLanguageTest/bin
